openapi: 3.0.3
info:
  title: Jefferson Health Plans Provider Directory FHIR Allergy Intolerance Condition API
  description: OpenAPI surface for the Jefferson Health Plans (formerly Health Partners Plans) Provider Directory FHIR API — a public HL7 FHIR Release 4.0.1 endpoint powered by Smile CDR 2025.02.R04 that surfaces JHP's network of in-network practitioners, organizations, locations, healthcare services, and insurance plans for the CMS Interoperability and Patient Access Provider Directory requirement. Aligned with the HL7 Da Vinci Payer Data Exchange Plan-Net implementation guide.
  version: 4.0.1
  contact:
    name: Jefferson Health Plans Interoperability
    url: https://www.jeffersonhealthplans.com/home/about-us/interoperability/api-tools/
  license:
    name: HL7 FHIR License
    url: https://www.hl7.org/fhir/license.html
servers:
- url: https://providerfhirapi.healthpartnersplans.com
  description: Jefferson Health Plans Provider Directory FHIR R4 production endpoint
tags:
- name: Condition
  description: Detailed information about conditions, problems, or diagnoses.
paths:
  /Condition:
    get:
      tags:
      - Condition
      summary: Search Condition
      description: Search Condition resources for a patient (problems, encounter diagnoses, health concerns).
      operationId: searchCondition
      parameters:
      - $ref: '#/components/parameters/PatientReference'
      - name: category
        in: query
        description: US Core Condition category (problem-list-item, encounter-diagnosis, health-concern).
        schema:
          type: string
      - name: clinical-status
        in: query
        description: Clinical status (active, recurrence, relapse, inactive, remission, resolved).
        schema:
          type: string
      - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: Bundle of Condition resources
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  schemas:
    Bundle:
      type: object
      description: HL7 FHIR Bundle resource (searchset).
      properties:
        resourceType:
          type: string
          enum:
          - Bundle
        type:
          type: string
          enum:
          - searchset
        total:
          type: integer
        entry:
          type: array
          items:
            type: object
  parameters:
    PatientReference:
      name: patient
      in: query
      required: true
      description: Reference to the Patient (id or Patient/{id}).
      schema:
        type: string
    Count:
      name: _count
      in: query
      description: Number of resources to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
externalDocs:
  description: HL7 Da Vinci PDEX Plan-Net Implementation Guide
  url: https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/
