openapi: 3.0.3
info:
  title: Jefferson Health Metadata API
  description: OpenAPI surface for the Thomas Jefferson University Hospital FHIR R4 endpoint, Jefferson Health's CMS Interoperability and Patient Access (CMS-9115-F)
    compliant HL7 FHIR Release 4.0.1 API powered by Epic's August 2025 release. Exposes USCDI-aligned clinical resources to third-party patient-access applications
    under SMART on FHIR / OAuth 2.0. Only a subset of the 80+ supported FHIR resource types is documented here — refer to the live CapabilityStatement for the full
    surface.
  version: 4.0.1
  contact:
    name: Epic on FHIR
    url: https://fhir.epic.com/
  license:
    name: HL7 FHIR License
    url: https://www.hl7.org/fhir/license.html
  x-source-contract: openapi/_original/jefferson-health-tjuh-fhir-r4-api-openapi.yml (+ /metadata also served by openapi/_original/jefferson-health-jhp-provider-directory-fhir-api-openapi.yml)
servers:
- url: https://fhir.jefferson.edu/FHIRProxy/api/FHIR/R4
  description: Thomas Jefferson University Hospital FHIR R4 production endpoint
- url: https://providerfhirapi.healthpartnersplans.com
  description: Jefferson Health Plans Provider Directory FHIR R4 production endpoint — serves /metadata only; /.well-known/smart-configuration returns an empty object
    here.
tags:
- name: Metadata
  description: FHIR conformance discovery.
paths:
  /metadata:
    get:
      tags:
      - Metadata
      summary: Get FHIR Capability Statement
      description: Returns the FHIR CapabilityStatement describing the Provider Directory's supported resources and search parameters.
      operationId: getMetadata
      responses:
        '200':
          description: FHIR CapabilityStatement resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/CapabilityStatement'
  /.well-known/smart-configuration:
    get:
      tags:
      - Metadata
      summary: Get Smart Configuration
      description: Returns the SMART App Launch configuration document describing OAuth 2.0 endpoints, scopes, and capabilities.
      operationId: getSmartConfiguration
      responses:
        '200':
          description: SMART configuration JSON document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartConfiguration'
components:
  schemas:
    SmartConfiguration:
      type: object
      properties:
        authorization_endpoint:
          type: string
          format: uri
        token_endpoint:
          type: string
          format: uri
        scopes_supported:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            type: string
    CapabilityStatement:
      type: object
      description: HL7 FHIR CapabilityStatement resource.
      properties:
        resourceType:
          type: string
          enum:
          - CapabilityStatement
        fhirVersion:
          type: string
          example: 4.0.1
        software:
          type: object
        rest:
          type: array
          items:
            type: object
externalDocs:
  description: HL7 Da Vinci PDEX Plan-Net Implementation Guide
  url: https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/
