openapi: 3.0.3
info:
  title: Jefferson Health Plans Provider Directory FHIR Allergy Intolerance Patient API
  description: OpenAPI surface for the Jefferson Health Plans (formerly Health Partners Plans) Provider Directory FHIR API — a public HL7 FHIR Release 4.0.1 endpoint powered by Smile CDR 2025.02.R04 that surfaces JHP's network of in-network practitioners, organizations, locations, healthcare services, and insurance plans for the CMS Interoperability and Patient Access Provider Directory requirement. Aligned with the HL7 Da Vinci Payer Data Exchange Plan-Net implementation guide.
  version: 4.0.1
  contact:
    name: Jefferson Health Plans Interoperability
    url: https://www.jeffersonhealthplans.com/home/about-us/interoperability/api-tools/
  license:
    name: HL7 FHIR License
    url: https://www.hl7.org/fhir/license.html
servers:
- url: https://providerfhirapi.healthpartnersplans.com
  description: Jefferson Health Plans Provider Directory FHIR R4 production endpoint
tags:
- name: Patient
  description: Demographics and other administrative information about an individual receiving care.
paths:
  /Patient/{id}:
    get:
      tags:
      - Patient
      summary: Read Patient By Id
      description: Read a single Patient resource by FHIR logical id.
      operationId: readPatient
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Patient resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Patient'
        '404':
          $ref: '#/components/responses/NotFound'
  /Patient:
    get:
      tags:
      - Patient
      summary: Search Patient
      description: Search Patient resources by identifier, name, birthdate, or other US Core search parameters.
      operationId: searchPatient
      parameters:
      - name: identifier
        in: query
        description: A patient identifier (e.g. MRN, system|value).
        schema:
          type: string
      - name: name
        in: query
        description: A portion of either family or given name of the patient.
        schema:
          type: string
      - name: family
        in: query
        description: Family (last) name.
        schema:
          type: string
      - name: given
        in: query
        description: Given (first) name.
        schema:
          type: string
      - name: birthdate
        in: query
        description: The patient's date of birth.
        schema:
          type: string
          format: date
      - name: gender
        in: query
        description: Administrative gender.
        schema:
          type: string
          enum:
          - male
          - female
          - other
          - unknown
      - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: Bundle of Patient resources
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  parameters:
    Count:
      name: _count
      in: query
      description: Number of resources to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    ResourceId:
      name: id
      in: path
      required: true
      description: FHIR logical id of the resource.
      schema:
        type: string
  schemas:
    Bundle:
      type: object
      description: HL7 FHIR Bundle resource (searchset).
      properties:
        resourceType:
          type: string
          enum:
          - Bundle
        type:
          type: string
          enum:
          - searchset
        total:
          type: integer
        entry:
          type: array
          items:
            type: object
    OperationOutcome:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - OperationOutcome
        issue:
          type: array
          items:
            type: object
    Patient:
      type: object
      description: HL7 FHIR Patient resource (US Core profile).
      properties:
        resourceType:
          type: string
          enum:
          - Patient
        id:
          type: string
        identifier:
          type: array
          items:
            type: object
        name:
          type: array
          items:
            type: object
        gender:
          type: string
        birthDate:
          type: string
          format: date
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
externalDocs:
  description: HL7 Da Vinci PDEX Plan-Net Implementation Guide
  url: https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/
