openapi: 3.2.0
info:
  title: Jefferson Health Metadata API
  version: 4.0.1
  license:
    name: HL7 FHIR License
    url: https://www.hl7.org/fhir/license.html
  description: 'Operations tagged Metadata across 2 of this provider''s published API definitions: jefferson-health-jhp-provider-directory-fhir-api-openapi.yml, jefferson-health-tjuh-fhir-r4-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://providerfhirapi.healthpartnersplans.com
  description: Jefferson Health Plans Provider Directory FHIR R4 production endpoint
- url: https://fhir.jefferson.edu/FHIRProxy/api/FHIR/R4
  description: Thomas Jefferson University Hospital FHIR R4 production endpoint
tags:
- name: Metadata
  description: FHIR conformance discovery.
paths:
  /metadata:
    get:
      tags:
      - Metadata
      summary: Get FHIR Capability Statement
      description: Returns the FHIR CapabilityStatement describing the Provider Directory's supported resources and search parameters.
      operationId: getMetadata
      responses:
        '200':
          description: FHIR CapabilityStatement resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/CapabilityStatement'
    servers:
    - url: https://providerfhirapi.healthpartnersplans.com
      description: Jefferson Health Plans Provider Directory FHIR R4 production endpoint
  /.well-known/smart-configuration:
    get:
      tags:
      - Metadata
      summary: Get Smart Configuration
      description: Returns the SMART App Launch configuration document describing OAuth 2.0 endpoints, scopes, and capabilities.
      operationId: getSmartConfiguration
      responses:
        '200':
          description: SMART configuration JSON document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartConfiguration'
      security:
      - smartOnFhir:
        - patient/Patient.read
        - patient/Observation.read
        - patient/Condition.read
        - patient/Encounter.read
        - patient/MedicationRequest.read
        - patient/AllergyIntolerance.read
        - patient/DocumentReference.read
        - launch
        - openid
        - fhirUser
        - offline_access
    servers:
    - url: https://fhir.jefferson.edu/FHIRProxy/api/FHIR/R4
      description: Thomas Jefferson University Hospital FHIR R4 production endpoint
components:
  schemas:
    CapabilityStatement:
      type: object
      description: HL7 FHIR CapabilityStatement resource.
      properties:
        resourceType:
          type: string
          enum:
          - CapabilityStatement
        fhirVersion:
          type: string
          example: 4.0.1
        software:
          type: object
        rest:
          type: array
          items:
            type: object
    SmartConfiguration:
      type: object
      properties:
        authorization_endpoint:
          type: string
          format: uri
        token_endpoint:
          type: string
          format: uri
        scopes_supported:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            type: string
    CapabilityStatement_2:
      type: object
      description: HL7 FHIR CapabilityStatement resource.
      properties:
        resourceType:
          type: string
          enum:
          - CapabilityStatement
        fhirVersion:
          type: string
          example: 4.0.1
        status:
          type: string
        software:
          type: object
        rest:
          type: array
          items:
            type: object
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR / OAuth 2.0 with PKCE for patient-facing and provider-facing app launches.
      flows:
        authorizationCode:
          authorizationUrl: https://fhir.jefferson.edu/FHIRProxy/oauth2/authorize
          tokenUrl: https://fhir.jefferson.edu/FHIRProxy/oauth2/token
          scopes:
            launch: EHR launch context for provider-launched apps
            openid: OpenID Connect authentication
            fhirUser: Identity of the user launching the app
            offline_access: Refresh token for long-lived access
            patient/Patient.read: Read the launching patient's demographics
            patient/Observation.read: Read the launching patient's observations
            patient/Condition.read: Read the launching patient's conditions
            patient/Encounter.read: Read the launching patient's encounters
            patient/MedicationRequest.read: Read the launching patient's medication requests
            patient/AllergyIntolerance.read: Read the launching patient's allergies
            patient/DocumentReference.read: Read the launching patient's documents
            user/Patient.read: Read Patient as the launching user
            system/Patient.read: System-level Patient read (Bulk Data)
x-refined-from:
- jefferson-health-jhp-provider-directory-fhir-api-openapi.yml
- jefferson-health-tjuh-fhir-r4-api-openapi.yml
