openapi: 3.0.3
info:
  title: Jefferson Health Patient API
  description: OpenAPI surface for the Thomas Jefferson University Hospital FHIR R4 endpoint, Jefferson Health's CMS Interoperability and Patient Access (CMS-9115-F)
    compliant HL7 FHIR Release 4.0.1 API powered by Epic's August 2025 release. Exposes USCDI-aligned clinical resources to third-party patient-access applications
    under SMART on FHIR / OAuth 2.0. Only a subset of the 80+ supported FHIR resource types is documented here — refer to the live CapabilityStatement for the full
    surface.
  version: 4.0.1
  contact:
    name: Epic on FHIR
    url: https://fhir.epic.com/
  license:
    name: HL7 FHIR License
    url: https://www.hl7.org/fhir/license.html
  x-source-contract: openapi/_original/jefferson-health-tjuh-fhir-r4-api-openapi.yml
servers:
- url: https://fhir.jefferson.edu/FHIRProxy/api/FHIR/R4
  description: Thomas Jefferson University Hospital FHIR R4 production endpoint
tags:
- name: Patient
  description: Demographics and other administrative information about an individual receiving care.
paths:
  /Patient/{id}:
    get:
      tags:
      - Patient
      summary: Read Patient By Id
      description: Read a single Patient resource by FHIR logical id.
      operationId: readPatient
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Patient resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Patient'
        '404':
          $ref: '#/components/responses/NotFound'
  /Patient:
    get:
      tags:
      - Patient
      summary: Search Patient
      description: Search Patient resources by identifier, name, birthdate, or other US Core search parameters.
      operationId: searchPatient
      parameters:
      - name: identifier
        in: query
        description: A patient identifier (e.g. MRN, system|value).
        schema:
          type: string
      - name: name
        in: query
        description: A portion of either family or given name of the patient.
        schema:
          type: string
      - name: family
        in: query
        description: Family (last) name.
        schema:
          type: string
      - name: given
        in: query
        description: Given (first) name.
        schema:
          type: string
      - name: birthdate
        in: query
        description: The patient's date of birth.
        schema:
          type: string
          format: date
      - name: gender
        in: query
        description: Administrative gender.
        schema:
          type: string
          enum:
          - male
          - female
          - other
          - unknown
      - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: Bundle of Patient resources
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  parameters:
    Count:
      name: _count
      in: query
      description: Number of resources to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
    ResourceId:
      name: id
      in: path
      required: true
      description: FHIR logical id of the resource.
      schema:
        type: string
  schemas:
    Bundle:
      type: object
      description: HL7 FHIR Bundle resource (searchset).
      properties:
        resourceType:
          type: string
          enum:
          - Bundle
        type:
          type: string
          enum:
          - searchset
        total:
          type: integer
        entry:
          type: array
          items:
            type: object
    OperationOutcome:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - OperationOutcome
        issue:
          type: array
          items:
            type: object
    Patient:
      type: object
      description: HL7 FHIR Patient resource (US Core profile).
      properties:
        resourceType:
          type: string
          enum:
          - Patient
        id:
          type: string
        identifier:
          type: array
          items:
            type: object
        name:
          type: array
          items:
            type: object
        gender:
          type: string
        birthDate:
          type: string
          format: date
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/OperationOutcome'
externalDocs:
  description: HL7 Da Vinci PDEX Plan-Net Implementation Guide
  url: https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/
