openapi: 3.0.3
info:
  title: Jefferson Health Encounter API
  description: OpenAPI surface for the Thomas Jefferson University Hospital FHIR R4 endpoint, Jefferson Health's CMS Interoperability and Patient Access (CMS-9115-F)
    compliant HL7 FHIR Release 4.0.1 API powered by Epic's August 2025 release. Exposes USCDI-aligned clinical resources to third-party patient-access applications
    under SMART on FHIR / OAuth 2.0. Only a subset of the 80+ supported FHIR resource types is documented here — refer to the live CapabilityStatement for the full
    surface.
  version: 4.0.1
  contact:
    name: Epic on FHIR
    url: https://fhir.epic.com/
  license:
    name: HL7 FHIR License
    url: https://www.hl7.org/fhir/license.html
  x-source-contract: openapi/_original/jefferson-health-tjuh-fhir-r4-api-openapi.yml
servers:
- url: https://fhir.jefferson.edu/FHIRProxy/api/FHIR/R4
  description: Thomas Jefferson University Hospital FHIR R4 production endpoint
tags:
- name: Encounter
  description: An interaction between a patient and healthcare provider(s).
paths:
  /Encounter:
    get:
      tags:
      - Encounter
      summary: Search Encounter
      description: Search Encounter resources for a patient.
      operationId: searchEncounter
      parameters:
      - $ref: '#/components/parameters/PatientReference'
      - name: date
        in: query
        description: Encounter period start date.
        schema:
          type: string
      - name: class
        in: query
        description: Encounter class (ambulatory, emergency, inpatient, etc.).
        schema:
          type: string
      - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: Bundle of Encounter resources
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  schemas:
    Bundle:
      type: object
      description: HL7 FHIR Bundle resource (searchset).
      properties:
        resourceType:
          type: string
          enum:
          - Bundle
        type:
          type: string
          enum:
          - searchset
        total:
          type: integer
        entry:
          type: array
          items:
            type: object
  parameters:
    PatientReference:
      name: patient
      in: query
      required: true
      description: Reference to the Patient (id or Patient/{id}).
      schema:
        type: string
    Count:
      name: _count
      in: query
      description: Number of resources to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
externalDocs:
  description: HL7 Da Vinci PDEX Plan-Net Implementation Guide
  url: https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/
