openapi: 3.0.3
info:
  title: Jefferson Health Bulk Data API
  description: OpenAPI surface for the Thomas Jefferson University Hospital FHIR R4 endpoint, Jefferson Health's CMS Interoperability and Patient Access (CMS-9115-F)
    compliant HL7 FHIR Release 4.0.1 API powered by Epic's August 2025 release. Exposes USCDI-aligned clinical resources to third-party patient-access applications
    under SMART on FHIR / OAuth 2.0. Only a subset of the 80+ supported FHIR resource types is documented here — refer to the live CapabilityStatement for the full
    surface.
  version: 4.0.1
  contact:
    name: Epic on FHIR
    url: https://fhir.epic.com/
  license:
    name: HL7 FHIR License
    url: https://www.hl7.org/fhir/license.html
  x-source-contract: openapi/_original/jefferson-health-tjuh-fhir-r4-api-openapi.yml
servers:
- url: https://fhir.jefferson.edu/FHIRProxy/api/FHIR/R4
  description: Thomas Jefferson University Hospital FHIR R4 production endpoint
tags:
- name: Bulk Data
  description: HL7 FHIR Bulk Data Access Group-level export.
paths:
  /Group/{id}/$export:
    get:
      tags:
      - Bulk Data
      summary: Group Level Bulk Export
      description: Kick off an HL7 FHIR Bulk Data Access Group-level asynchronous export of patient resources for a defined Group.
      operationId: bulkExportGroup
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      - name: _type
        in: query
        description: Comma-separated list of FHIR resource types to include in the export.
        schema:
          type: string
      - name: _since
        in: query
        description: Only include resources modified after this instant.
        schema:
          type: string
          format: date-time
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/fhir+json
      - name: Prefer
        in: header
        required: true
        schema:
          type: string
          enum:
          - respond-async
      responses:
        '202':
          description: Accepted — polling URL returned in Content-Location header.
          headers:
            Content-Location:
              description: Polling URL for the export status.
              schema:
                type: string
                format: uri
components:
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: FHIR logical id of the resource.
      schema:
        type: string
externalDocs:
  description: HL7 Da Vinci PDEX Plan-Net Implementation Guide
  url: https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/
